body{
    /*font-family: 'Concert One', cursive;
    font-family: 'Merienda', cursive;*/
    font-family: 'Patrick Hand', cursive;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: rgba(98, 153, 224, 0.719);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}