body{
    margin: 0%;
    /*font-family: 'Concert One', cursive;
    font-family: 'Merienda', cursive;*/
    font-family: 'Patrick Hand', cursive;
}

h1{
    font-size: 50px;
}

.name-highlight{
    color: rgba(98, 153, 224, 0.719);
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-repeat: no-repeat;
    background-image: url("images/top-banner.png");
}

section{
    height: 500px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#7c3f81, #256f9b);
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(190, 223, 215);
    font-weight: 700;

}

.dream-area{
    background-repeat: no-repeat;
    background-image: url("images/dream-bg.png");
    background-position: right;
    margin-bottom: 150px
}

.orange-highlight{
    color: orange;
}
.experience-area h2{
    text-align: left;
}